body {
  margin: 0;
  /* Inter 400,600,800 */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-weight: 800;
}

.container{
  padding: 40px;
  height: auto;
}

/* section navigation bar */
.navbar-collapse{
  display: flex;
  justify-content: flex-end;
}

.navbar-brand{
  font-weight: 600;
}
.navbar-brand img{
  width: 100%;
}

.nav-item{
  margin:0 20px 0 0;
}

.active{
  font-weight: 600;
  color: #340067 !important;
}

.text-title{
  font-weight: 600;
}

.nav-link {
  font-size: 16px;
  text-decoration: none;
  color: #340067;
  padding: 20px 0px;
  /* margin: 0px 20px; */
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #340067;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

/* section heroes */
.row-heroes{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-container{
  margin-top: 1.875rem;
  display: flex;
  gap: 1rem;
}
.btn-primary__jurusan{
  background-color: #039935;
  padding: 0.938rem;
  color: white;
}

.btn-secondary__profil{
  background-color: #03993510;
  padding: 0.938rem;
  color: #039935;
}

.btn-artikel{
  text-decoration: none;
  color: #fff;
}
.btn-artikel:hover{
  text-decoration: none;
  color: #e5e5e5;
}

.text-title__motto , .text-title__heading , .text-title__description{
  margin-top: 0.625rem;
}

.text-title__motto{
  color: #9E89B2;
}

.text-title__heading{
  line-height: 67px;
  color: #340067;
}

.text-title__description{
  line-height: 27px;
  color: #C1B7CC;
}

.heroes-img{
  width: 90%;
  margin-left: 15%;
}

.more-artikel{
  margin-top: 5rem;
  text-align: center;
}

.more-artikel-text{
  color: #340067;
}

.row-statistik{
  margin-top: 6.375rem;
}

.wrapper-statistik{
  display: flex;
  border-radius: 1rem;
  padding: 2rem 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.column-statistik{
  text-align: center;
}

.column-statistik h2{
  font-weight: bold;
  color: #340067;
}

.column-statistik h6{
  color: #9E89B2;
}
/* section jurusan */
.row-jurusan{
  margin-top: 8.75rem;
}

.wrapper-jurusan{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin-top: 2.5rem;
}

.jurusan-img img{
  width: 100%;
  min-width: 400px;
  min-height: 450px;
}

/* section artikel */
.row-artikel{
  margin-top: 8.75rem;
}

.wrapper-card-artikel{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.25rem;
}

.card-artikel{
  margin-top: 1.25rem;
  width: 100%;
  padding: 1.25rem;
  background-color: white;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  border-radius: 1rem;
  border: 0.075px solid #e5e5e5;
}

.img-artikel{
  width: 100%;
}

.header-artikel h5{
  font-weight: 600;
  margin-top: 1.25rem;
}

.body-artikel h6{
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 80px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  margin-top: 1.25rem;
  line-height: 1.6875rem;
}

.link-selengkapnya{
  margin-top: 1rem;
}

.link-selengkapnya a{
  font-size: 14px;
  text-decoration: none;
  color: #039935;
}

.footer-artikel{
  margin-top: 1.25rem;
  font-size: 0.8125rem;
  color: #c4c4c4;
  display: flex;
  justify-content: space-between;
}

/* section video */
.row-video{
  margin-top: 8.75rem;
}

.wrapper-video {
  margin-top: 1.25rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.25rem;
  overflow-x:scroll;
}

@media screen and (max-width:978px){
  .wrapper-card-artikel{
    display: grid;
    grid-template-columns: auto;
    gap: 1.25rem;
  }
  .row-heroes{
    display:block;
  }

  .heroes-img-wrapper{
    display: none;
  }
  
  .wrapper-jurusan{
    display: block;
    gap: 1rem;
  }
  .jurusan-img img{
    min-width: 200px;
  }
}

/* page artikel */
.wrapper-artikel{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.25rem;
}

.row-all-artikel{
  padding: 40px;
  margin-right: 0;
}

.pagination{
  display:flex;
  justify-content: center;
}

.title-all-artikel{
  text-align: center;
}


/* detail artikel */
.row{
  margin-right: 0;
}

.row-artikel-detail{
  gap: 2rem;
}

.img-artikel-detail{
  max-width: 100%;
}

.tanggal-artikel-detail{
  margin-top: 2rem;
  color: #9E89B2;
}
.judul-artikel-detail{
 margin-top: 2rem;
}

.deskripsi-artikel-detail{
 margin-top: 2rem;
 line-height: 2;
}

.created-by-artikel-detail{
 margin-top: 2rem;
 color: #9E89B2 ;  
}

.artikel-lainnya{
  display:flex;
  flex-direction: column;
  gap: 0.5rem;
}

.link-artikel-lainnya{
  text-decoration: none;
}

.judul-artikel-detail-lainnya{
  color: #9E89B2;
}

.judul-artikel-detail-lainnya:hover{
  text-decoration: none;
  color: #340067;
}


/* footer */
.section-footer {
  margin-top: 5rem;
  padding:40px 0;
  color:#f0f9ff;
  background-color:#340067;
}

.section-footer h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.section-footer ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.section-footer ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .section-footer .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.section-footer .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .section-footer .item.text {
    margin-bottom:0;
  }
}

.section-footer .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.section-footer .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .section-footer .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.section-footer .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.section-footer .item.social > a:hover {
  opacity:0.9;
}

.section-footer .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}