body {
  margin: 0;
  /* Inter 400,600,800 */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-weight: 800;
}

.container{
  padding: 40px;
  height: auto;
}

/* section navigation bar */
.navbar-brand{
  font-weight: 600;
}
.navbar-brand img{
  width: 100%;
}

.nav-item{
  margin:0 20px 0 0;
}

.active{
  font-weight: 600;
  color: #340067 !important;
}

.text-title{
  font-weight: 600;
}

/* footer */
.footer{
  bottom: 0;
}

/* section heroes */
.row-heroes{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-container{
  margin-top: 1.875rem;
  display: flex;
  gap: 1rem;
}
.btn-primary__jurusan{
  background-color: #039935;
  padding: 0.938rem;
  color: white;
}

.btn-secondary__profil{
  background-color: #03993510;
  padding: 0.938rem;
  color: #039935;
}

.text-title__motto , .text-title__heading , .text-title__description{
  margin-top: 0.625rem;
}

.text-title__motto{
  color: #9E89B2;
}

.text-title__heading{
  line-height: 67px;
  color: #340067;
}

.text-title__description{
  line-height: 27px;
  color: #C1B7CC;
}

.heroes-img{
  width: 90%;
  margin-left: 15%;
}

/* section jurusan */
.row-jurusan{
  margin-top: 6.375rem;
}

.wrapper-jurusan{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin-top: 2.5rem;
}

.jurusan-img img{
  width: 100%;
  min-width: 400px;
  min-height: 450px;
}

/* section artikel */
.row-artikel{
  margin-top: 8.75rem;
}

.wrapper-card-artikel{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.25rem;
}

.card-artikel{
  margin-top: 1.25rem;
  width: 100%;
  padding: 1.25rem;
  background-color: white;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  border-radius: 1rem;
  border: 0.075px solid #e5e5e5;
}

.img-artikel{
  width: 100%;
}

.header-artikel h5{
  font-weight: 600;
  margin-top: 1.25rem;
}

.body-artikel h6{
  font-weight: 300;
  margin-top: 1.25rem;
  line-height: 1.6875rem;
}

.body-artikel a{
  color: #039935;
}

.footer-artikel{
  margin-top: 1.25rem;
  font-size: 0.8125rem;
  color: #c4c4c4;
  display: flex;
  justify-content: space-between;
}

/* section video */
.row-video{
  margin-top: 8.75rem;
}

.wrapper-video {
  margin-top: 1.25rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.25rem;
  overflow-x:scroll;
}